# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# runtime directories and files
field_hdf5/
hydro_hdf5/
fields-avg-hdf5/
hydro-avg-hdf5/
rundata/
spectrum/
tracer/
global.vpc
info
info.bin
log
*.optrpt
*.Linux
data/
data1/
hydro
particle
restore*
rundata
fields
tracer
injectors
spectrum
hydro-avg
fields-avg
restart-avg
field_hdf5
hydro_hdf5
data
fields-avg-hdf5
hydro-avg-hdf5
restart-avg-hdf5
*.op
*.ppu
*.vpc
outfile
info
info.bin
*.eps
*.mpg
*.optrpt
core.*
*.Linux
latest_restart
*.data

# diagnostics files
__pycache__/
mainwindow.py
quick_check_vpic.py
